<h1 class="h1-add-pony">Ajouter un Poney </h1>

<form [formGroup]="ponyForm" (ngSubmit)="onSubmit()" id="form-add-pony">

  <span class="p-float-label">
    <input id="float-input" type="text" pInputText formControlName="name" name="name">
    <label for="float-input">Username</label>
  </span>
  <span class="p-float-label">
    <input id="float-input-2" type="text" pInputText formControlName="color" name="color">
    <label for="float-input-2">Couleur</label>
  </span>

  <label>Age</label>
  <p-inputNumber formControlName="age" id="age" name="age" [min]="0" [max]="100"></p-inputNumber>
  <button type="submit" class="save-button" pButton label="Enregistrer"></button>

</form>
