<h1 *ngIf="add" class="h1-add-pony">Ajouter un Poney </h1>
<h1 *ngIf="!add" class="h1-add-pony">Mettre un jour les poneys</h1>

<form (ngSubmit)="onSubmit()">

    <span class="p-float-label">
    <input id="float-input" type="text" pInputText name="name" [(ngModel)]="newPony.name">
    <label for="float-input">Username</label>
  </span>
  <span class="p-float-label">
    <input id="float-input-2" type="text" pInputText  name="color"  [(ngModel)]="newPony.color">
    <label for="float-input-2">Couleur</label>
  </span>
  <label>Age</label>
  <p-inputNumber id="age" name="age" [min]="0" [max]="100" [(ngModel)]="newPony.age"></p-inputNumber>

  <button type="submit" class="save-button" pButton label="Enregistrer"></button>
</form>



