
<h1 *ngIf="races.length==0">Aucune cours disponible</h1>

<p-orderList *ngIf="races.length>0" [value]="races" [listStyle]="{'max-height':'30rem'}" header="Liste des courses en cours" [dragdrop]="true">

  <ng-template let-race pTemplate="item">
    <div class="product-item">
      <div class="image-container">
      </div>
      <div class="product-list-detail">
        <h5 class="p-mb-2">Lieu: {{race.location}}</h5>
        <h5 class="p-mb-2">Date: {{race.date}}</h5>
        <h5 class="p-mb-2">Participants:
          <div *ngFor="let p of race.ponies ">
            <ul>
              <li>{{ p.name }}</li>
            </ul>
            <a class="update-button" routerLink="/update-race/{{ p.id }}"  >
              <p-button class="update-button button-poney" label="Mettre à jour ce poney" ></p-button>
            </a>
          </div>
          {{race.age}}</h5>
        <a class="update-button" routerLink="/update-race/{{ race.id }}"  >
          <p-button class="update-button" label="Mettre à jour la course" ></p-button>
        </a>
      </div>
    </div>
  </ng-template>
</p-orderList>

