<h1 *ngIf="add">Entrer un nouvelle course</h1>
<h1 *ngIf="!add">Mettre à jour votre course</h1>
<form (ngSubmit)="onSubmit()">

  <span class="p-float-label">
    <input id="float-input" type="text" pInputText  required [(ngModel)]="model.location" name="location" >
    <label for="float-input">Lieu</label>
  </span>

  <label for="float-input-2">Date</label>
  <input id="float-input-2" type="date" pInputText  required [(ngModel)]="model.date" name="date" >

  <div *ngFor="let p of allPonies;let i = index;">
    <input type="checkbox" name="{{p.name}}" (change)="poniesBool[i] = !poniesBool[i]">{{p.name}}
  </div>
  <button *ngIf="add" type="submit" pButton label="Enregistrer"></button>
  <button *ngIf="!add" type="submit" pButton label="Mettre à jour"></button>
</form>

